/* 
    Document   : style
    Created on : 2012-02-05, 13:38:08
    Author     : GROBELKI DWA
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color: yellowgreen;
}

